body {
    background-color: #000000;
    padding: 0;
}

.header {
    background-color: #000000;
    text-align: center;
    padding: 5px;
}

.main {
    background-color: #000000;  
}

canvas {
    margin: 0 auto;
}

.footer {
    background-color: #000000;
    padding: 3px;
    text-align: center;
    color: #f2f2f2;
}

.footer p {
    font-family: "Courier", sans-serif;
    font-size: 11px;
}

h1 {
    font-family: "Courier", serif;
    text-shadow: 2px 2px 3px #666;
    font-size: 110%;
    color: #f2f2f2;
}

